* {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
  }
  
  body {
      height: 98vh;
      display: flex;
      justify-content: center;
      align-items: end;
  
  }
  
  .botao {
      width: 200px;
      background-color: rgb(255, 255, 255);
      border: 0px solid transparent;
      border-radius: 100px;
      height: 10px;
      margin-bottom: 5px;
  }