* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
}
header {
    display: flex;
    justify-content: center;

}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}
footer {
    display: flex;
    justify-content: center;
}
