body {
    background-color: white;
}

h2{
   margin-top: 0px;
   margin-left: 320px;
}

.spotify-font{
    position: left 10px;
}

.spotify-font {
    font-family: 'spotify-font', sans-serif; 
}

.wifi {
    
}